<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="notes.js"></script>
  <script type="text/javascript">


    window.onload=function(){
      
new Vue({
el: '#app',
data: {
  reason: ' ',
  resolution: ' ',
  scope: ' '
  },
 methods: {
  changeReason: function(event){
  	this.reason = event.target.value;
  },
 	changeResolution: function(event){
  	this.resolution = event.target.value;
 },
 changeScope: function(event){
  	this.scope = event.target.value;
	}
}
});

    }

</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ALPHA BRAVO SWAT</title>
</head>
<header style="background-color: darkkhaki; width: 100%;"><img src="Swat-logo.png" width="200px" style="-webkit-app-region: drag"></header>
<body>
  <div id="app">
    
    <p> Reason for Call: </p>
    <p><textarea v-model="reason" v-on:input="changeReason" rows="3"></textarea></p>
    <p>Resolution of Call:</p>
    <p><textarea v-model="resolution" v-on:input="changeResolution" rows="3"></textarea></p>
    <p>Changes Outside of Scope:</p>
    <p><textarea v-model="scope" v-on:input="changeScope" rows="3"></textarea></p>
    <p>#SWAT</p>
    <p>Reason: {{ reason }}</p>
    <p>Resolution: {{ resolution }}</p>
    <p>Changes outside of scope: {{ scope }}</p>
  </div>
</body>
</html>

